body{
    margin: 0px;
    padding: 0px;
}
h1{
    font-family: 'Anton', sans-serif;
    font-size: 30px;
}
.name-highlight{
    color: orange;
}
.div-half{
    width: 40%;
    float: left;
    
    margin-left: 2%;
}  
.div-half img{
    width: 100%;

}
.top-banner{
    background-image: url("Images/top-banner.png");
    background-repeat: no-repeat;

}
section{
    height: 200px;
}