body{
    margin: 0px;
    padding: 0px;
}
h1{
    font-family: 'Anton', sans-serif;
    font-size: 30px;
}
p{
    color: dimgray;
}
.name-highlight{
    color: orange;
}
.div-half{
    width: 40%;
    float: left;
    margin-left: 2%;
}  
.div-half img{
    width: 100%;

}
.top-banner{
    background-image: url("Images/top-banner.png");
    background-repeat: no-repeat;

}
section{
    height: 200px;
    padding-bottom: 10px;
}
.button-link{
    background-color: orange;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    background-image: linear-gradient(45deg, lightsalmon, tomato);

}
.drem-area{
    background-image: url(Images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}